<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find oscr_rosexample)/urdf/ff6dof.xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <arg name="config_file" value="$(find oscr_rosexample)/config/ff6dof-fixed.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(arg config_file)"/>

  <param name="reference_frame" value="base_link" />

</launch>
